a{
    text-decoration: none;
}
.aboutDiv{
    margin: auto;
    width: 900px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    padding-bottom: 70px;
}

.aboutDiv a{
    color: darkred;
}
.aboutDiv a:hover{
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 900px) {
    .aboutDiv{
        width: 90%;
    }
}