html{
  scroll-behavior: smooth;
}
body{
  background-color: black;
}
a{
  text-decoration: none;
}
.App {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  height: 400px;
}
.loading{
  color: white;
  font-size: 40px;
}