.dayPicDiv h4{
    padding: 0 10px;  
    font-size: 22px; 
}
.dayPicDiv img{
    border-radius: 8px;
    width: 100%;
}
@media screen and (max-width: 900px) {
    .dayPicDiv h4{
        font-size: 18px;
    }
}